.bubble {
    position: absolute;
    bottom: -100px;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 50%;
    animation: rise 10s infinite;
}

@keyframes rise {
    to {
        transform: translateY(-110vh);
    }
}

@keyframes float {
    0%, 100% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(50px);
    }
}
